html 
    head 
        title create a book 
    body 
        h2 create Book form
        form(action="/book", method="post")
            input(type="text" name="title"  placeholder="title")
            input(type="text" name="price"  placeholder="price")
            input(type="text" name="originalPrice"  placeholder="originalPrice")
            input(type="text" name="Ma"  placeholder="Ma")
            input(type="text" name="TacGia"  placeholder="TacGia")
            input(type="text" name="KhuonKho"  placeholder="KhuonKho")
            input(type="text" name="SoTrang"  placeholder="SoTrang")
            input(type="text" name="DinhDang"  placeholder="DinhDang")
            input(type="text" name="TrongLuong"  placeholder="TrongLuong")
            input(type="text" name="Theloai"  placeholder="Theloai")
            input(type="submit" value="Create")   